{% extends 'travel/baseVendor.html' %}
{% load staticfiles %}
{% block css %}
    <link type="text/css" rel="stylesheet" href="{% static 'css/homeV.css' %}">
{% endblock %}
{% block title %}
Contact
{% endblock %}
{% block content %}
<div class="vision" style="margin-top:-90px;" align="center">
  <p> 1800 233 8080</p>
</div>
  
    <div align='center' style="margin-bottom:50px !important; margin-top:40px;"> 
<a href="\myPrevTripV">
        <button type="button" class="button">
            <h3> My Trip Planner </h3>
        </button></a>
          
    </div>
    
 {% endblock %}