@import url('https://fonts.googleapis.com/css?family=Open+Sans');
body{
  margin: 0;
  padding: 0;
  background: #fff;
  font-family: 'IBM Plex Sans', sans-serif;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #000; 
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #000; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(to bottom right, #979797, #979797);; 
}

nav{
  background: transparent;
  z-index: 1000!important;
  position: relative;
  border-bottom: none;
  box-shadow: none;
}

nav a:active{
  border-bottom: 2px solid #fff;
}

nav a:hover{
  transform: scale(1.3);
}

.material-tooltip > .backdrop {
    background-color: transparent;
}


footer{
  position: relative;
  bottom: 0;
  color: #000;
  background: #F1B2E6;
  width: 100%;
  padding: 20px 0px;
}

footer .row{
  margin-bottom: 0;
}

address{
  line-height: 1.75rem;
}

address a{
  color: #000;
}

address a:hover{
   color: crimson;
}

.dank-footer{
  text-align: center!important;
  padding-top: 50px!important;
}

.dank-line{
  color: crimson;
}

.social-media{
  text-align: right;
  padding-top: 70px!important;
}

.social-media .fa-2x{
  margin-right: 10px!important; 
  color:#fff;
  transition: 0.2s ease-in-out; 
}

.social-media .fa-2x:hover{
  transform: translateY(-5px);
  color: crimson;
}

@media only screen and (max-width: 500px) {
    .text{
    	font-size: 16px;
    }
    address{
      line-height: 1.4rem;
      font-size: 1rem;
    }
    .dank-footer{
      padding-top: 10px!important;
    }
    .social-media{
      text-align: center;
    padding-top: 10px!important;
    }
}